* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

body {
  position: relative;
  top: 100px;
}

/* header */
header {
  height: 100px;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

.pokemon-logo {
  padding: 10px 0;
}

#pokeball {
  height: 130%;
  position: relative;
  width: 80px;
  top: -5px;
}

/* main */

h1 {
  font-size: 24px;
  margin-left: 10px;
}

h2 {
  font-size: 18px;
}

/* pokemon list */

.pokemon-list {
  list-style-type: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: 10px 50px 10px;
}

.pokemonList__item {
  text-align: center;
  width: 100%;
  border: 1px solid black;
  padding: 30px 0px;
}

.pokemon__name {
  font-size: 16px;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
  width: 100%;
  height: 100%;
}

.pokemon__name:hover {
  cursor: pointer;
}

/* modal styling */

.modal {
  display: none;
}

.modal.visible {
  background-color: #3B4CCA;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  text-align: center;
  margin: 10px auto;
  z-index: 10040;
  overflow: auto;
  padding: 30px 0px;
  position: relative;
}

.modal__close {
  border: none;
  padding: 10px;
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
}

.modal__photo {
  height: 100%;
  overflow: hidden;
  background-color: #FFDE00;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid black;
  align-self: center;
}

.modal__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
}

.modal__info--name, .modal__info--height, .modal__info--types {
  color: white;
  padding: 10px;
}

/* media queries */
@media all and (max-width: 500px) {
  .pokemon__name {
    font-size: 14px;
  }
}