* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

body {
  position: relative;
  top: 100px;
}

/* header */
header {
  height: 100px;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

.pokemon-logo {
  padding: 10px 0;
}

#pokeball {
  height: 130%;
  position: relative;
  width: 80px;
  top: -5px;
}

/* main */

h1 {
  font-size: 24px;
  margin-left: 10px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
/* pokemon list */

.pokemon {
  border: 1px solid black;
  width: 30%;
  text-align: center;
  margin: 10px;
}
