* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

body {
  position: relative;
  top: 100px;
}

/* header */
header {
  height: 100px;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

.pokemon-logo {
  padding: 10px 0;
}

#pokeball {
  height: 130%;
  position: relative;
  width: 80px;
  top: -5px;
}

/* main */

h1 {
  font-size: 24px;
  margin-left: 10px;
}

h2 {
  font-size: 18px;
}

/* pokemon list */

.pokemonList {
  list-style-type: none;
  padding-left: 0px;
}

.pokemonList__item {
  width: 80vw;
  text-align: center;
  margin: 10px auto;
  border: 1px solid black;
  padding: 30px 0px;
}

.pokemon__name {
  font-size: 16px;
  border: none;
  background: none;
  font-family: "Press Start 2P", cursive;
}

.pokemon__name:hover {
  cursor: pointer;
}

/* media queries */
@media all and (max-width: 500px) {
  .pokemon__name  {
    font-size: 14px;
  }
}
